




body{
  background-color: rgb(60,60,60);
  @import url('https://fonts.googleapis.com/css?family=Orbitron:400,700,800,900&display=swap');
  p position:
  font-family: 'Orbitron', sans-serif;
}
h1 {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  color: red;

}
td {
  color: red;
  border: 3px solid   #333;

  border-radius: 24px 24px 24px 24px;
  box-shadow: inset 0px 0px 40px 0px rgba(255,0,0,1);
  height: 150px;
  width: 150px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  vertical-align: middle;
  font-size: 120px;
  cursor: pointer;
  box-shadow2: -12px 4px 87px 3px rgba(255,0,0,1);
}
table{
 color: red;
 border-spacing: 4px;
 position:absolute;
 left: 42%;
 margin-left: -130px;
 top: 150px;
}


background-colour:darkgrey;




.box {
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  vertical-align: top;
  border: 20px solid black;

}

.readOut{ text-align: center;
font-family: 'Orbitron', sans-serif;
color:rgb(51, 255, 0);
}

.endgameHackingS{
display: none;
width: 200px
top
<]background-color: darkgrey;
}

.endgameHackingD{
display: none;
width: 200px
top
background   color:

font color: red;


.blockExample {
  border: 5px solid green;
  display: block; /* default */
position: absolute;
  width: 200px;
}
